/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

/* Navigation Bar */
nav {
    background-color: #0a1316; /* Celeste */
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#usuarioConectado {
    color: white;
    font-size: 1.2em;
    margin-right: auto; /* Align span to the left */
}

nav button {
    background-color: #ffffff69; /* Darker blue */
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

nav button:hover {
    background-color: #04050750;
}

/* Formulario de envío */
h1 {
    color: #004a99;
    text-align: center;
    margin-top: 20px;
}

form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
    color: #004a99;
}

input, select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #00bfff;
    border-radius: 5px;
}

/* Table for order details */
table {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #0398ca;
}

th {
    background-color: #004a99;
    color: white;
}

tbody tr:nth-child(odd) {
    background-color: #f0f8ff; /* Light blue */
}

/* Envio and Total */
#envio, #total {
    font-size: 1.5em;
    font-weight: bold;
    color: #004a99;
}

p {
    text-align: right;
    margin-right: 20px;
}

/* Confirm button */
button {
    background-color: #00bfff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1.1em;
}

button:hover {
    background-color: #004a99;
}

/* Responsive Design */
@media (max-width: 768px) {
    form, table {
        width: 90%;
    }
    
    th, td {
        font-size: 0.9em;
    }

    button {
        width: 40%;
    }

    p {
        text-align: center;
    }
}

@media (max-width: 480px) {
    nav {
        flex-direction: column;
    }

    #usuarioConectado {
        margin-bottom: 10px;
    }
}
/* Estilos para ocultar/mostrar tablas según el dispositivo */

/* Mostrar solo en pantallas grandes (computadora) */
#pedidoComputadora {
    display: table;
}

#pedidoMovil {
    display: none;
}

/* Mostrar solo en pantallas pequeñas (móvil) */
@media screen and (max-width: 768px) {
    #pedidoComputadora {
        display: none;
    }

    #pedidoMovil {
        display: table;
    }
}
